.toggleContainer
  position: relative
  -webkit-tap-highlight-color: transparent
  -webkit-user-select: none
  -webkit-touch-callout: none
  --toggle-fg: #34C759
  --toggle-bg: rgb(120 120 120 / 36%)
  // --toggle-bg: #333
  // --toggle-fg: #7f56d9
  --toggle-button-fg_disabled: var(--bg-disabled_subtle)
  --animation-duration: 0.2s
  --animation-timing: cubic-bezier(0.76,0.05,0.24,0.95)
  padding: 0
  color: var(--indigo-50)
  align-items: center
  min-width: 36px
  width: 36px
  height: 20px
  background-color: var(--toggle-fg)
  outline: none
  border: none
  border-radius: 9999px
  cursor: pointer
  transition: none
.toggle
  top: 2px
  left: 0.5%
  margin: 0px 2px
  display: block
  position: absolute
  width: 16px
  height: 16px
  border-radius: 9999px
  background-color: white
  transition: none
  // transition: transform var(--animation-duration) var(--animation-timing)
  // box-shadow: 0px 4px 4px 0px #1018280f, 0px 1px 3px 0px #1018281a
.disabled
  cursor: default
  .toggle
    filter: brightness(80%) contrast(90%) grayscale(30%)

.toggleContainer[aria-checked="true"].disabled
  filter: brightness(80%) contrast(90%) grayscale(30%)

.toggleContainer[aria-checked="true"]
  // transition: background-color var(--animation-duration) var(--animation-timing)
  background-color: var(--toggle-fg)
  .toggle
    // transform: translateX(53%)
    animation: moveRight var(--animation-duration) forwards
  &:focus-visible
    box-shadow: var(--ring-brand)
.toggleContainer[aria-checked="false"]
  // transition: background-color var(--animation-duration) var(--animation-timing)
  background-color: var(--toggle-bg)
  &:focus-visible
    box-shadow: var(--ring-gray-secondary)
  .toggle
    animation: moveLeft var(--animation-duration) forwards

.toggleContainer.l
  width: 44px
  min-width: 44px
  height: 24px

  .toggle
    width: 20px
    height: 20px

.toggleContainer.xl
  width: 64px
  min-width: 64px
  height: 28px

  .toggle
    width: 39px
    height: 24px
    margin: 0px 2px

.toggleContainer.switch
  background-color: #ff2859
.toggleContainer.switch[aria-checked="true"]
  background-color: #00be5e

@keyframes moveRight
  0%
    transform: scale(1)
    left: 0px
    backdrop-filter: blur(0px)
    background-color: rgb(255 255 255 / 100%)
    border: 1px solid rgb(255 255 255 / 100%)
  50%
    transform: scale(2)
    left: 10px
    backdrop-filter: blur(2px)
    background-color: rgb(37 37 37 / 55%)
    border: 1px solid rgb(67 67 67 / 55%)
  100%
    transform: scale(1)
    left: 21px
    backdrop-filter: blur(0px)
    background-color: rgb(255 255 255 / 100%)
    border: 1px solid rgb(255 255 255 / 100%)

@keyframes moveLeft
  0%
    transform: scale(1)
    left: 21px
    backdrop-filter: blur(0px)
    background-color: rgb(255 255 255 / 100%)
    border: 1px solid rgb(255 255 255 / 100%)
  50%
    transform: scale(2)
    left: 10px
    backdrop-filter: blur(2px)
    background-color: rgb(37 37 37 / 55%)
    border: 1px solid rgb(67 67 67 / 55%)
  100%
    transform: scale(1)
    left: 0px
    backdrop-filter: blur(0px)
    background-color: rgb(255 255 255 / 100%)
    border: 1px solid rgb(255 255 255 / 100%)
